
<div class="ink-grid">
	<div class="column-group">
		<div class="all-100">

			<h2>WADI Bugs</h2>

			<table class='ink-table medium'>

				<thead>
					<tr>
						<th class="align-right">ID</th>
						<th class="align-left">Date</th>
						<th class="align-left">Status</th>
						<th class="align-left">Who</th>
						<th class="align-left">Summary</th>
					</tr>
				</thead>

				<tbody>
					{{#each bugs}}
						<tr class='grey'>
							<td class="align-right">
								<a target='_blank' href='https://bugzilla.mozilla.org/show_bug.cgi?id={{this.data.id}}'>{{this.data.id}}</a>
							</td>
							<td>{{truncate this.latest 10}}</td>
							<td class='bugstatus-{{this.data.status}}'>{{this.data.status}}</td>
							<td>
								{{#if (somebodyAssigned this.data.assigned_to)}}
									{{this.data.assigned_to}}
								{{/if}}
							</td>
							<td>{{this.data.summary}}</td>
						</tr>
						{{#each this.history}}
							{{#if (recent this.when)}}
								<tr>
									<td></td>
									<td>{{truncate this.when 10}}</td>
									<td></td>
									<td>{{this.who}}</td>
									<td>
										{{#each this.changes}}
											{{> (historyType this) this }}
										{{/each}}
									</td>
								</tr>
							{{/if}}
						{{/each}}
						{{#each this.comments}}
							{{#if (recent this.creation_time)}}
								<tr>
									<td></td>
									<td>{{truncate this.creation_time 10}}</td>
									<td></td>
									<td>{{this.creator}}</td>
									<td>
										{{truncate this.text 60}}
									</td>
								</tr>
							{{/if}}
						{{/each}}
					{{/each}}
				</tbody>

			</table>

		</div>
	</div>
</div>

