
<div class="ink-grid">
	<div class="column-group">
		<div class="all-100">

			<h2>WADI Events</h2>

			<table class='ink-table medium'>

				<thead>
					<tr>
						<th class="align-left">Date</th>
						<th class="align-left">Repo</th>
						<th class="align-left">Desc</th>
						<th class="align-left">Who</th>
					</tr>
				</thead>

				<tbody>
					{{#each events}}
					<tr>
						<td>{{truncate this.created_at 10}}</td>

						<td>
							<a target='_blank' href='https://github.com/{{this.repo.name}}'>{{this.repo.name}}</a>
						</td>

						<td>
							{{#if this.payload.comment.html_url}}
								<a target='_blank' href='{{this.payload.comment.html_url}}'>comment</a>
							{{/if}}
							{{#each this.payload.commits}}
								<div><a target='_blank' href='https://github.com/{{../this.repo.name}}/commit/{{this.sha}}''>{{truncate this.message 80}}</a></div>
							{{/each}}
							{{truncate this.payload.pull_request.title 60}}
							{{truncate this.payload.issue.body 60}}
							{{truncate this.payload.comment.body 60}}
							{{truncate this.payload.description 60}}
						</td>

						<td>
							{{#if this.actor}}
								<a target='_blank' href='https://github.com/{{this.actor.login}}'>{{this.actor.login}}</a>
							{{/if}} 
						</td>   
					</tr>
					{{/each}}
				</tbody>	
			</table>

		</div>
	</div>
</div>

