<h1>Example App: Events</h1>

<table>
{{#each events}}
	<tr>
	    <td>{{this.created_at}}</td>

	    <td>{{this.repo.name}}</td>

	    <td>{{this.type}}</td>

	    <td>
			{{#if this.payload.comment.html_url}}
				<a href='{{this.payload.comment.html_url}}'>comment</a>
			{{/if}}
	    	{{this.payload.pull_request.title}}
		    {{this.payload.issue.body}}
		    {{this.payload.comment.body}}
		    {{this.payload.commits.0.message}}
		    {{this.payload.description}}
	    </td>

	    <td>
	    {{#if this.actor}}
	    	<a target='_blank' href='https://github.com/{{this.actor.login}}'>{{this.actor.login}}</a>
	    {{/if}} 
	    </td>   
    </tr>
{{/each}}
</table>