<div class="ink-grid">
	<div class="column-group">
		<div class="all-100">

			<h2>WADI Events</h2>

			<table class='ink-table medium'>

				<thead>
					<tr>
						<th class="align-left">Date</th>
						<th class="align-left">Repo</th>
						<th class="align-left">Event</th>
					</tr>
				</thead>

				<tbody>
					{{#each events}}
					<tr>
						<td>{{truncate this.created_at 10}}</td>

						<td>
							<a target='_blank' href='https://github.com/{{this.repo.name}}'>{{this.repo.name}}</a>
						</td>

						<td>
							{{#if this.actor}}
								<a target='_blank' href='https://github.com/{{this.actor.login}}'>{{this.actor.login}}</a>
							{{/if}} 

							{{> (activityType this) this }}
						</td>
					</tr>
					{{/each}}
				</tbody>	
			</table>

		</div>
	</div>
</div>

